{{>header}}
    
    <main class="container my-5">

    <!-- New Products Section -->
    <section id="products-section">
            <h2 class="text-center my-5">Our Products</h2>
            <div class="d-flex justify-content-end mb-3">
              <a href="/form" class="btn btn-standard">New item</a>
            </div>
            <div class="row">
                {{#garments}}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <div class="card">
                            <img src="/garment/{{_id}}/image" class="card-img-top" alt="{{title}}">
                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text">{{price}}€</p>
                                <a href="/detail/{{_id}}" class="btn btn-standard">More info</a>
                            </div>
                        </div>
                    </div>
                {{/garments}}
            </div>

            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">

                    {{#hasPrev}}
                    <li class="page-item">
                        <a class="page-link btn btn-standard mx-1" href="{{prevUrl}}">Previous</a>
                    </li>
                    {{/hasPrev}}

                    {{#pages}}
                        <li class="page-item">
                            <a class="page-link btn btn-standard mx-1 {{#isCurrent}}active-page{{/isCurrent}}" href="{{url}}">
                                {{number}}
                            </a>
                        </li>
                    {{/pages}}

                    {{#hasNext}}
                    <li class="page-item">
                        <a class="page-link btn btn-standard mx-1" href="{{nextUrl}}">Next</a>
                    </li>
                    {{/hasNext}}

                </ul>
            </nav>
        </section>
    </main>

{{>footer}}



